<!DOCTYPE html>
<html>
<head lang="ja">
    <meta charset="UTF-8">
    <title>Rails Camp Blog</title>
</head>
<body>

<header>
    <p id="logo"><a href="">RailsCamp<span>Blog</span></a></p>
    <nav>
        <ul>
            <li>ログイン</li>
            <li>新規投稿</li>
            <div class="clear"></div>
        </ul>
    </nav>
    <div class="clear"></div>
</header>

<div id="main">
    <img src="./main-img.jpg">
</div>


<div id="article_wrap">

    <div id="article_list">
      <div>
        <h2>タイトル</h2>
        <p>aaa</p>
      </div>
      <div>
        <h2>タイトル</h2>
        <p>aaa</p>
      </div>
      <div>
        <h2>タイトル</h2>
        <p>aaa</p>
      </div>
    </div>

    <div id="sidebar">

        <h2>★PV数ランキング</h2>
        <ul>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（10PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（8PV）</span></a></li>
            <li><a href="">記事タイトル記事タイトル１記事タイトル記事タイトル<span>（2PV）</span></a></li>
        </ul>
    </div>
    <div class="clear"></div>
</div>

<footer>
    <div id="footer_inner">
        <p>Copyright RailsCamp 2015 All Rights Reserved</p>
    </div>
</footer>

</body>
</html> 


<!-- <html>
  <head>
    <title>Myblog</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
    <h1><%= link_to image_tag('logo.png' ,class: 'logo'), root_path %></h1>
    <%= yield %>
    </div>
  </body>
</html> -->
